@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body.auth-component-active {
  margin:0;
  padding:0;
  width: 100vw;
  display: flex;
	justify-content: center;
	align-items: center;
}

.auth-background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.logo span{
  background: url('../images/output-onlinegiftools.gif') no-repeat 0 0;
  background-size: 250px;
  position: absolute;
  width: 100%;
  height: 300px;
  bottom: 350px;
  left: 70%;
  transform: translateX(-50%);
  filter: drop-shadow(5px 5px 0 rgb(0, 238, 255)) drop-shadow(5px 5px 0 rgb(0, 247, 255));
}

.login-box{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.568);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(248, 246, 246, 0.973);
}

.login-box h2 {
  margin: 0 0 50px;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 4px;
  left: 50%;
  transform: translateX(-50%);
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4,0 0 50px #03e9f4,0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.auth-submit {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 20px;
}

.authError{color: rgba(255, 0, 0, 0.753); font-size: 3px; display: flex;}

.auth-toggle {
  position: absolute;
  margin-top: 10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.39);
  font-size: 14px;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);

  &:hover {
    text-decoration: underline;
  }
}

.auth-social {
 transform: translateY(400%);
}

.auth-social-button {
  width: 100%;
  padding: 10px;
  background-color: #3f3f3f0e;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
