@import url(Common.scss);

div .section{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 64px;
  background-size: cover;
  filter: drop-shadow(5px 5px 0 rgba(0, 238, 255, 0.397)) drop-shadow(5px 5px 0 rgba(0, 247, 255, 0.63));

  .date_info {
    opacity: 0.5;
    text-align: center;
    margin: 20px;
    padding-right: 45px;
    color: #eee;
  }
}

/* 공통 */
.chat_box {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  max-width: calc(100% - 80px);
  position: relative;

  .chat {
    font-size: 16px;
    line-height: 1;
    margin: 5px;
    padding: 10px 5px;
    border-radius: 5px;
    background: #fff;
  }
}

/* my */
.my {
  align-self: flex-end;
  align-items: flex-end;
  max-width: 240px;
  margin-right: 10px;

  .chat {
    background: #1b2836;
    color: #fff;
    z-index: 10;
  }

  .chat_time {
    position: absolute;
    left: -30px;
    bottom: -5px;
    width: 50px;
    opacity: 0.5;
    color: #eee;
  }
}

/* other */
.other {
  margin-block-end: 55px;
  margin-top: 20px;

  .profile_img {
    position: absolute;
    top: -50px;
    left: -10px;
  }

  .profile_name {
    display: block;
    font-weight: bold;
    margin: 5px;
  }

  .chat_time {
    position: absolute;
    right: -30px;
    bottom: -5px;
    width: 50px;
    opacity: 0.5;
    color: #eee;
  }
}

/* footer */
footer {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45px;
  background-color: #65dbf8;

  .plus_btn a {
    color: #fff;
    padding-left: 15px;
    font-size: 16px;
  }

  > form {
    width: calc(100% - 40px);
    display: flex;
    justify-content: flex-end;

    fieldset.text_box {
      position: relative;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      .text_field {
        width: calc(100% - 40px);
        height: 32px;
        border: none;
      }

      .emoticon_btn {
        position: absolute;
        right: 45px;
      
        a {
          color: #b3b4b4;
        }
      }
      
      .voice_btn {
        a {
          display: block;
          width: 34px; 
          height: 37px; 
          margin-right: 5px; 
          line-height: 37px; 
          text-align: center; 
          background: #17d8a8; 
          color: #17d8a8; 
          font-size: 16px;
        }
      }
    }
   }
}      
    
// 눈오기 
$b:100;
.b{
  border-radius:50%;
  float: left;
  margin-top: -50px;
  position: absolute;
  @for $i from 0 to $b {
    $rw:random(10)+1;
   
    $ra:random(20)+10;
    $rd:random(10)+1;
    
    $rc:random(10)+90;
           
    &:nth-child(#{$i + 1}){
      margin-left: (percentage(1)/$b)*$i;
      width: $rw+px;
      height: $rw+px;
      background:hsla(0,0%,$rc,.8);
      box-shadow: 0 0 15px 10px hsla(0,0%,$rc,.5);
      animation: fall $ra+s $rd+s  infinite;
    }    
  }
}
@keyframes fall { 0% { transform: scale(0) }
                  2% { transform: scale(1); top: -50px; } 
                100% { transform: scale(0); top: 100%; } }