@import "Reset";
@import "Header";
@import "Tab";

body {
  font-size: 12px;

  a {
    color: #000;
    text-decoration: none;

    &:link,
    &:visited {
      color: #000;
      text-decoration: none;
    }

    &:hover,
    &:focus,
    &:active {
      color: #000;
      text-decoration: none;
    }
  }

  img {
    max-width: 100%;
  }
}

.empty {
  display: block;
  width: 40px;
  height: 40px;
  margin: 10px 15px;
  border-radius: 50%;
  background: url("../images/empty.jpg") 0 0 no-repeat;
  background-size: cover;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}


.search_box .search_inner{
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

}
#search{
  padding: 10px;
}