@import 'Common.scss';

body > header {
  background: transparent;
}

.title_bar > .left_item > a {
  opacity: 1;
  font-size: 20px;
}

.background{
  height: 50vh; 
  width: 100vw;
  background-size: cover; 
  background-repeat: no-repeat;
  filter: brightness(90%);
  .edit_background{
    padding-top: 630px; 
    padding-left: 30px; 
    font-size: 25px;
    color: #fff;
  }
}

.my_profile{
  height: 40vh;
}

.profile {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  .profile_img {
    position: absolute;
    left: 50%;
    top: -65px;
    width: 100px;
    height: 100px;
    background-size: cover;
    margin-left: -50px;
    border-radius: 50%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }

  .profile_cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;

    .profile_name {
      font-size: 16px;
    }

    input {
      width: 148px;
      height: 24px;
      margin: 15px 0 20px;
      padding: 0 5px;
      text-align: center;
      border: none;
    }
  }

  .profile_menu {
    display: flex;

    li {
      margin: 0 6px;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;

        .icon {
          display: block;
          width: 52px;
          height: 52px;
          border-radius: 50%;
          line-height: 52px;
          text-align: center;
          margin-bottom: 15px;
          background-color: #f2f2f2;
          color: #3d5683;
          font-size: 20px;
        }
      }
    }
  }
}
